<nav class="menu">
  <ul class="active">
    <li class="current-item"><%= link_to "Home", root_url %></li>
    <li><%unless current_user%>
    <%= link_to "Login", new_user_session_path %><%end%></li>
    <li><% unless current_user%><%= link_to "Sign Up", new_user_registration_path %><%end%></li>
    <li><% if current_user %>
<%= link_to "Profile", user_path(current_user) %>
<% end %></li>
<% if current_user %><%= image_tag current_user.avatar_url(:thumbnail) %><br /><% end %>
    <li><% if current_user %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% end %></li>
  </ul>

<%= form_tag listings_path, method: :get do %>
<p>
<%= text_field_tag :query, params[:query] %>
<%= submit_tag "Search", name: nil%>
</p>
<% end%> 
<li><%= link_to "Events", listings_path%></li> 
</nav>